@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

.logo.vite:hover {
  filter: drop-shadow(0 0 2em #747bff);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafb);
}

/* Dark theme base */
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #e6eef8;
  background-color: #0b1220;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


:root, [data-theme="default"] {
  --tone-1: #038DB8;
  --tone-2: #1D6C85;
  --tone-3: #224752;
  --tone-4: #202E33;
  --tone-5: #2A3133;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.expand:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
}